/* Varriables */

:root {
    --Accent: #fc424a;
    --PrimaryBg: #1a1c1e;
    --SecondaryBg: #121314;

    --TextColorMain: rgba(255, 255, 255, 0.8);
    --TextColorSecondary: rgba(255, 255, 255, 0.5);

    --GlassBg: #202225cf;
    --GlassBorder: 1px solid #ffffff08;
    --GlassBorderRadius: 0.65em;
    --GlassBlur: blur(10px) invert(2%);

    --CardBorder: 1px solid #ffffff0d;
    --CardBorderRadius: 0.65em;

    --InputBorder: 0.15em solid #1f2123;
    --InputBorderActive: 0.15em solid #272a2e;
    --InputBorderRadius: 0.5em;


    --Shadow: 0 1px 2px rgb(0 0 0 / 90%), 0 0px 2px rgb(0 0 0 / 90%);

    --danger: #D32F2F;
    --warning: #FBC02D;
}





/* Card Items */

.cardOverlayContainer {
    border-radius: var(--CardBorderRadius);
}

.cardScalable  {
    border-radius: var(--CardBorderRadius) !important;
    border: var(--CardBorder);
}

.cardBox:not(.visualCardBox) .cardPadder {
    border-radius: var(--CardBorderRadius) !important;
}

.cardScalable .cardImageContainer  {
    border-radius: var(--CardBorderRadius) !important;
}

.backgroundContainer, .dialog, .nowPlayingPlaylist, .nowPlayingContextMenu, html {
    background-color: var(--PrimaryBg);
}

/* Fixed top bar adjustments (header and Section0 adjustments) */

.section0 {
    position: fixed;
    left: 0;
    right: 0;
    top: 12px;
    z-index: 99;
    pointer-events: none;
    text-align: center;
}

.section0 .cardScalable{
    display: none;
}

.section0 .sectionTitle,
.section0 .emby-scrollbuttons {
    display: none;
    padding: 0 !important;
    margin: 0 !important;
}

.section0 .cardBox-bottompadded {
    margin-bottom: 0px !important;
}

.section0 .verticalSection-extrabottompadding {
    margin-bottom: 0em;
}

.section0 .homeLibraryButton {
    background-color: transparent;
    padding-top: 11px;
    padding-bottom: 11px;
}

.section0 .homeLibraryButton:hover {
    color: var(--Accent);
}

.section0 .itemsContainer {
    background-color: var(--GlassBg); 
    border-radius: 2em;
    border: var(--GlassBorder);
    -webkit-backdrop-filter: var(--GlassBlur);
    backdrop-filter: var(--GlassBlur);
    pointer-events: all;
    display: inline-block;
    padding: 0 0 0 0;
}

.noHomeButtonHeader .headerTabs, .pageTitleWithLogo  {
    display: none;
}

.skinHeader {
    pointer-events: none;
}

.skinHeader-withBackground {
    background-color: transparent;
}

.headerButton  {
    pointer-events: all;
}

.headerRight, .emby-tabs-slider {
    background-color: var(--GlassBg); 
    border-radius: 2em;
    border: var(--GlassBorder);
    -webkit-backdrop-filter: var(--GlassBlur);
    backdrop-filter: var(--GlassBlur);
    z-index: 999;
    pointer-events: all;
}

.headerTabs{
    top: 12px;
    position: fixed;
    margin-top: 0px;
}

/* Buttons */

.emby-tab-button:hover {
    color: var(--Accent);
}
.emby-tabs-slider .emby-tab-button {
    padding-top: 12px;
    padding-bottom: 12px;
}

.paper-icon-button-light:hover:not(:disabled) {
    color: var(--Accent);
    background-color: transparent;
}

.emby-scrollbuttons .paper-icon-button-light {
    border: var(--GlassBorder);
    border-color:  #00000000;
}

.emby-scrollbuttons .paper-icon-button-light:hover:not(:disabled) {
    border: var(--GlassBorder);
}

.button-submit, .button-submit:focus{
    background: var(--Accent);
}

.button-link {
    color: var(--Accent);
}

.countIndicator, .fullSyncIndicator, .mediaSourceIndicator, .playedIndicator {
    background: var(--Accent);
}

.homeLibraryButton {
    margin: 0  auto !important;
}

.paperList {
    background-color: transparent;
}

/* Detail Page */

.noBackdropTransparency .detailPageSecondaryContainer {
    background-color: var(--PrimaryBg);
}

.skinHeader .semiTransparent {
    background-color: transparent;
}

.detailRibbon {
    background: linear-gradient(rgba(0,0,0,0) 0%, var(--PrimaryBg) 100%);
}

/* Inputs */

.detailTrackSelect, .emby-select-withcolor, .emby-input, .emby-textarea {
    padding: 0.2em 0.5em  0.2em  0.5em !important;
    border: var(--InputBorder) !important;
    border-radius: var(--InputBorderRadius);
    background: var(--SecondaryBg);
}

.emby-select-withcolor:focus {
    border: var(--InputBorderActive) !important;
}

.emby-checkbox:focus:not(:checked) + span + .checkboxOutline {
    border-color: var(--Accent);
}

.emby-input:focus, .emby-textarea:focus {
    border: var(--InputBorderActive);
}

.emby-checkbox:checked + span + .checkboxOutline, .itemProgressBarForeground {
    background-color: var(--Accent);
}

.emby-checkbox:checked + span + .checkboxOutline {
    border-color: var(--Accent);
}

.inputLabelFocused, .selectLabelFocused, .textareaLabelFocused {
    color: var(--TextColorMain);
}